body {
  min-height: 2000px;
}
.jumbotron {
  padding-top: 6rem;
  background-color: #e2edff;
}
#projects {
  background-color: #191970;
}
section {
  padding-top: 5rem;
}
#daftar {
  background-color: #191970;
}
